@model TheBiometricWeb.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpType1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpType1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FingerPrint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FingerPrint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
