@model IEnumerable<TheBiometricWeb.Models.EmployeeTime>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />

@*<div class="row">
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmpDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpDate, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>

    @Html.TextBox("Start Date")

</div>*@
<br />


<br />



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpClockIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpClockOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpClockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpClockOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmpTimeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmpTimeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpTimeID })
            </td>
        </tr>
    }

</table>
