@model IEnumerable<TheBiometricWeb.Models.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegID })
        </td>
    </tr>
}

</table>
